<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div style="margin:10px auto;">
            <form class="form-horizontal" ng-submit="private.findWish()">
                <input type="text" ng-model="private.findData.content" placeholder="Search a wish..." name="searchWish"
                       id="searchWish" class="wish_input">
                <!--<br/>-->
                <button class="btn btn-success" type="submit" style="margin-bottom: 4px;">Search a wish</button>
            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div style="margin:10px auto;">
            <form class="form-horizontal" ng-submit="private.findUser()">
                <input type="text" ng-model="private.user.username" placeholder="Search a user..." name="searchUser"
                       id="searchUser" class="wish_input">
                <button class="btn btn-info" type="submit" style="margin-bottom: 4px;">Search a user</button>
            </form>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div style="margin:10px auto;">
            <button class="btn btn-info animate-show" ng-show="private.userData" ng-click="private.hideAllUsers()">Hide All Users</button>
            <button class="btn btn-info animate-show" ng-show= "!private.userData" ng-click="private.getAllUsers()">Get All Users</button>
        </div>
    </div>
</div>
<div class="row" ng-if="private.userData">
    <table class="table table-bordered table-striped" ng-show="private.wishes">
        <thead>
        <tr>
            <th>_id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Retype Password</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, p) in private.userData">
            <td>{{ p._id }}</td>
            <td>{{ p.username }}</td>
            <td><input type="password" name="password" class="form-control" id="password_{{p._id}}">
            </td>
            <td><input type="password" name="password2" class="form-control" id="password2_{{p._id}}">
            </td>
            <td>
                <a href="#" ng-click="private.changePassword(p._id)"
                   class="btn btn-primary">Update</a>
            </td>
            <td>
                <a href="#" ng-show="p.isActive" id="deactivate_{{p._id}}" ng-click="private.deactivateUser(p._id, key)" class="btn btn-danger animate-show">Deactivate</a>
                <a href="#" ng-hide="p.isActive" id="activate_{{p._id}}" ng-click="private.activateUser(p._id, key)" class="btn btn-success animate-show">Activate</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <table class="table table-bordered table-striped" ng-show="private.wishes">
        <thead>
        <tr>
            <th>_id</th>
            <th>Date Created</th>
            <th>Content</th>
            <th>Author</th>
            <th class="col-sm-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="w in private.wishes">
            <td>{{ w._id }}</td>
            <td>{{ w.createdDate }}</td>
            <td><input type="text" value="{{ w.content }}" id="{{ w._id }}_content" style="width: 300px;padding:2px 6px; border:1px solid black;"></td>
            <td>{{ w.username }}</td>
            <td class="col-sm-2">
                <a href="#" ng-click="private.updateWish(w._id)" class="btn btn-primary">Update</a>
                <a href="#" ng-click="private.deleteWish(w._id)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="display:block;text-align: center;margin:10px 0">
        <form class="form-horizontal" ng-submit="private.loadMoreWish()">
            <input type="hidden" ng-model="private.loadMoreData.limit" name="loadLimit" id="loadLimit" value="12">
            <button class="btn btn-danger" id="loadMore" type="submit" ng-hide="private.loadMore">Load More...</button>
        </form>
    </div>
</div>
